<div class="center jumbotron">
  <h1 id="welcome">WELCOME TO THE PUBLIC LIBRARY </h1>
  <h1> CO-OP EXCHANGE OF BOOKS </h1>
  <h2> We're a small library that relys solely on the donation of books. </h2>
  <h3>
    Feel free to look over our catalog. If you see a book you like, become a
    member and you can check it out. There's no return date just bring it back
    when you're finished. But most importantly, if your home is cluttered with
    books bring them on in to us. If we don't already have it, then we WANT IT!
  </h3>

  <p><%= link_to image_tag("openbook.png", alt: "Book Image",
                      height: 100, width: 200), root_path %></p>

  <%= link_to "Become a member!", join_path, class: "btn btn-jg btn-primary" %>
</div>






