<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Library App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Donate", donate_path %></li>
        <li><%= link_to "Catalog", catalog_path %></li>
        <li><%= link_to "Become a member.", login_path %></li>
      </ul>
    </nav>
  </div>
</header>

